<!doctype html>
<html>
    <head>
        <title>Ka-Ching!</title>
        <style>
            .ching {
                
            }
        </style>
    </head>
    <body>
        <audio id="kaching" preload="auto" autobuffer> 
            <source src="static/kaching.mp3" />
            <source src="static/kaching.ogg" />
            <source src="static/kaching.wav" />
        </audio>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io.connect('http://<%= host %>');
            socket.on('kaching', function (data) {
                kaching.play();
                console.log('kaching!');
            });
            var kaching = document.getElementById("kaching");
        </script>
    </body>
</html>
